<!DOCTYPE html>
<html>
    <head>
        <title>Atks</title>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

        <%= stylesheet_link_tag    'components/tanzil', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'components/tanzil', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag    'quran', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag  'quran', 'data-turbolinks-track' => true %>


        <%= csrf_meta_tags %>
    </head>
    <body>

        <!--
        <div id="side-content" class="floatEnd">
          <%= yield :page_meta %>
        </div>
        -->

        <!--AJAX + Partial-->
        <div id="sarf-content" class="floatEnd">
          <!--<%= yield :atks_sarf %>-->
        </div>

        <div id="quran-content" class="floatEnd">
          <%= yield :quran_text %>
        </div>

    </body>
</html>
